pip>=25.3
setuptools>=75.0.0
wheel>=0.44.0

Flask==3.0.2
gunicorn==22.0.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.1
html5lib==1.1
rapidfuzz
plotly
Flask-Login==0.6.3