{% extends "base.html" %}
{% block content %}
<h2 style="padding-top:30px;">Entries for Tournament</h2>
<h2 style="padding-bottom:30px;"" class="fw-bold text-success">{{ tournament_name }}</h2>
  {% if draw_id %}
    <a href="https://ti.tournamentsoftware.com/tournament/{{ tournament_id }}/draw/{{ draw_id }}"
       target="_blank" style="text-decoration: none; margin-right: 8px;" class="btn btn-secondary btn-md">
      VIEW DRAW
    </a>
  {% endif %}
  {% if player_id %}
    <a href="{{ url_for('matches', tournament_id=tournament_id, player_id=player_id) }}"
      style="text-decoration: none;" class="btn btn-success btn-md">      
      VIEW MATCHES
    </a>
  {% endif %}

<div class="table-responsive pt-3" style="overflow-x: auto; white-space: nowrap;">
  <table class="table table-sm table-striped align-middle">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Draw</th>
        <th>Player</th>
        <th style="text-align: center;">Seed</th>
        <th style="text-align: center;">Rank</th>
        <th style="text-align: center;">Age Group</th>
        <th style="text-align: center;">WTN</th>
        <th style="text-align: center;">Ranking Points</th>
        <th style="text-align: center;">Year of Birth</th>
        <th style="text-align: center;">Tournaments</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>{{ loop.index }}</td>
        <td
          {% if "Maindraw" in entry.Draw %}
            style="color: rgb(29, 173, 29);"
          {% elif "Qualification" in entry.Draw %}
            style="color: rgb(246, 199, 82);"   {# dark yellow #}
          {% elif "Reserve" in entry.Draw %}
            style="color: rgb(218, 127, 9);"
          {% elif "Exclude" in entry.Draw %}
            style="color: red;"
          {% endif %}
        >
          {{ entry.Draw }}
        </td>
        <td>{{ entry.player }}</td>
        <td style="text-align: center;">{{ entry.Seed }}</td>
        <td style="text-align: center;">{{ entry.rank }}</td>
        <td style="text-align: center;">
          {% if entry.agegroup == tournament_age_group %}
            <span class="text-success">{{ entry.agegroup }}</span>
          {% else %}
            <span class="text-warning">{{ entry.agegroup }}</span>
          {% endif %}
        </td>
        <td style="text-align: center;">{{ entry.wtn }}</td>
        <td style="text-align: center;">{{ entry.ranking_points }}</td>
        <td style="text-align: center;">{{ entry.year_of_birth }}</td>
        <td style="text-align: center;">{{ entry.tournaments }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
